html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

form{
  margin: 0 auto;
  width: 30vw;
  display:flex;
  flex-direction: column;
}
form > h3, label{
  color: grey;
  margin-bottom: 8px;
}
.form-control{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form-control input{
  border: none;
  background-color: rgb(228, 227, 227);
  height: 48px;
  border-radius: 0.25rem;
  margin-top:0.5rem;
  padding: 0 16px;
  color: rgb(23, 23, 23);
}
form input[type="submit"]{
  background-color: rgb(52, 52, 221);
  border: none;
  height: 48px;
  margin: 16px 0;
  border-radius: 0.2rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}